<li class="announcements">
  {{announcement.title}}! <br>
  <span class="announcement-body">{{announcement.body}}</span> 
</li>

<button {{action 'delete' announcement}} class="btn">Delete Your life story</button>
