<div class="well">

<h1>This is what's going to happen to you.....</h1>

<ul>
  {{#each model as |announcement|}}
    {{announcement-tile announcement=announcement destroyAnnouncement="destroyAnnouncement"}}
  {{/each}}
</ul>

{{new-announcement saveAnnouncement2="saveAnnouncement3"}}

{{#link-to 'index'}}Home{{/link-to}}
</div>
